
body{

background-color: rgba(0, 0, 0, 0.9);


}


@media screen and (max-width: 770px){ 
    #mostrador{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 10%;
    -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     caret-color: transparent;
        font-family: 'Vibes', cursive;
     height: 25px;
    }
    
    #entrada{
        margin-top: 1%;
        margin-left: 24%;
        height: 20px;
        -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     outline: none;
     font-family: 'Open Sans', sans-serif;
    }
    
    #botao{
        margin-top: 2%;
        height: 30px;
        margin-left: 39.5%;
        background-color: rgb(252, 252, 252);
        border:  none;
        caret-color: transparent;
        
    }
    
    .checkrobo{
    position: absolute;
    border: 1px solid white;
    background-color: rgb(46, 46, 46);
    height: 260px;
    width: 300px;
    margin-left: 6%;
    margin-top: 10%;
    }
    .titulo{
        color: white;
        font-size: 27px;
        text-align: center;
        caret-color: transparent;
        font-family: 'Montserrat', sans-serif;
    }
    
    #mensagem{
        font-size: 15px;
        color: white;
        text-align: center;
        caret-color: transparent;
    }
    }

@media screen and (min-width: 600px){
    #mostrador{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 10%;
    -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     caret-color: transparent;
     font-family: 'Vibes', cursive;
     height: 25px;
    }
    
    #entrada{
        margin-top: 1%;
        margin-left: 24%;
        height: 20px;
        -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     outline: none;
     font-family: 'Open Sans', sans-serif;
    }
    
    #botao{
        margin-top: 2%;
        height: 30px;
        margin-left: 39.5%;
        background-color: rgb(252, 252, 252);
        border:  none;
        caret-color: transparent;
        
    }
    
    .checkrobo{
    position: absolute;
    border: 1px solid white;
    background-color: rgb(46, 46, 46);
    height: 260px;
    width: 300px;
    margin-left: 30.5%;
    margin-top: 10%;
    }
    .titulo{
        color: white;
        font-size: 27px;
        text-align: center;
        caret-color: transparent;
        font-family: 'Montserrat', sans-serif;
    }
    
    #mensagem{
        font-size: 15px;
        color: white;
        text-align: center;
        caret-color: transparent;
    }
    }

@media (min-width: 1100px){
#mostrador{
color: white;
font-size: 35px;
text-align: center;
margin-top: 10%;
-webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 caret-color: transparent;
 font-family: 'Vibes', cursive;
 height: 25px;
}

#entrada{
     margin-top: 1%;
    margin-left: 24%;
    height: 20px;
    -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 outline: none;
 font-family: 'Open Sans', sans-serif;
}

#botao{
    margin-top: 2%;
    height: 30px;
    margin-left: 39.5%;
    background-color: rgb(252, 252, 252);
    border:  none;
    caret-color: transparent;
    
}

.checkrobo{
position: absolute;
border: 1px solid white;
background-color: rgb(46, 46, 46);
height: 260px;
width: 300px;
margin-left: 40.5%;
margin-top: 10%;
}
.titulo{
    color: white;
    font-size: 27px;
    text-align: center;
    caret-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

#mensagem{

    font-size: 15px;
    color: white;
    text-align: center;
    caret-color: transparent;
}
}

